* {
    box-sizing: border-box;
    transition: all 0, 04s;
    font-size: 64.5%
        /* setting up default Browser font size from 16 to 10px*/
        /* knowing that 1rem = 10px this ease the fact to calculate rem in px
     2rem is know 20px*/
}

html {
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    padding: 0;
    margin: 0;
    font-size: 1.6rem;
    
}